{% extends "layouts/base.njk" %}

{% block variables %}
  {{ super() }}
  {% set baseTitle = "" %}
  {% set page = "" %}
  {% set title = "" %}
  {% set description = "" %}
  {% set keywords = "" %}
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<main id='main-wrap' data-layout="root-main">
  <a href="auth/facebook">Login With Facebooks</a>
</main>
{% endblock %}
